
  body {
    background-color: #ffebcd;
  }
  header {
    background-color:  #00008b;
        color: #fff;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  section > h3 {
    background-color: #663399;
    color: #fff;
  }

  aside > h3 {
    margin: 0;
  }

  aside {
    border: 5px;
    color: #000;
    background-color: #fff;
    float: right;
    width: 248px;
    margin: 5px;
    padding: 8px 8px;
    font-size: 10px;

img.displayed {
  display: block;
  margin-left: left

}
